<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Distributed Cloud</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="{{ url_for('static',filename= 'img/DC_favicon.ico') }}" rel="icon">
    <link href="{{ url_for('static',filename= 'img/DC_logo.png') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{{ url_for('static',filename= 'lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{{ url_for('static',filename= 'lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename= 'lib/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename= 'lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename= 'lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename= 'lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{{ url_for('static',filename= 'css/style.css') }}" rel="stylesheet">

    <!-- =======================================================
      Theme Name: BizPage
      Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body>

<!--==========================
  Header
============================-->
<header id="header">
    <div class="container-fluid">

        <div id="logo" class="pull-left">
            <h1><a href="#intro" class="scrollto">ICNS Lab.</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#intro">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#team">Team</a></li>
                <li class="menu-has-children"><a href="">Drop Down</a>
                    <ul>
                        <li><a href="#">Drop Down 1</a></li>
                        <li><a href="#">Drop Down 3</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                        <li><a href="#">Drop Down 5</a></li>
                    </ul>
                </li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->

<!--==========================
  Intro Section
============================-->
<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active">
                    <div class="carousel-background"><img
                            src="{{ url_for('static',filename= 'img/intro-carousel/1.jpg') }}" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Professional team</h2>
                            <p>"Practice makes perfect."</p>
                            <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background"><img
                            src="{{ url_for('static',filename= 'img/intro-carousel/DC_concept.jpg') }}" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>The concept of Distributed Cloud</h2>
                            <p>"Distributed Cloud can provide distributed resources, real-time processing, service
                                mobility, and balance of performance and energy."</p>
                            <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background"><img
                            src="{{ url_for('static',filename= 'img/intro-carousel/DC_description.jpg') }}" alt="">
                    </div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>The description of Distributed Cloud</h2>
                            <p>"We are researching and developing an ecosystem and service mobility support technologies
                                of Distributed Cloud for self-driving vehicles and edge actuators."</p>
                            <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>

                {#          <div class="carousel-item">#}
                {#            <div class="carousel-background"><img src="{{url_for('static',filename= 'img/intro-carousel/4.jpg')}}" alt=""></div>#}
                {#            <div class="carousel-container">#}
                {#              <div class="carousel-content">#}
                {#                <h2>Nam libero tempore</h2>#}
                {#                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum.</p>#}
                {#                <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>#}
                {#              </div>#}
                {#            </div>#}
                {#          </div>#}

                <div class="carousel-item">
                    <div class="carousel-background"><img
                            src="{{ url_for('static',filename= 'img/intro-carousel/20190709_112818904_cropped.jpg') }}"
                            alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Working together</h2>
                            <p>"Two heads are better than one."</p>
                            <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</section><!-- #intro -->

<main id="main">

    <!--==========================
      Featured Services Section
    ============================-->
    <section id="featured-services">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 box">
                    <i class="ion-ios-bookmarks-outline"></i>
                    <h4 class="title"><a href="">Distributed cloud</a></h4>
                    <p class="description">Description 1</p>
                </div>

                <div class="col-lg-4 box box-bg">
                    <i class="ion-ios-stopwatch-outline"></i>
                    <h4 class="title"><a href="">Better service</a></h4>
                    <p class="description">Description 2</p>
                </div>

                <div class="col-lg-4 box">
                    <i class="ion-ios-heart-outline"></i>
                    <h4 class="title"><a href="">Energy efficiency</a></h4>
                    <p class="description">Description 3</p>
                </div>

            </div>
        </div>
    </section><!-- #featured-services -->
    <section id="video">
        <div class="container">
            <header class="section-header">
                <video width="100%" height="100%" controls autoplay>
                    <source src="{{ url_for('static',filename= 'video/dc_video.mp4') }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </header>
        </div>
    </section>
    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">

            <header class="section-header">
                <h3>About Us</h3>
                <p>We are researching and developing a new paradigm, distributed cloud. The distributed cloud can help
                    provide faster, more reliable and energy-efficient cloud services. We are concentrating on this
                    :)</p>
            </header>

            <div class="row about-cols">

                <div class="col-md-4 wow fadeInUp">
                    <div class="about-col">
                        <div class="img">
                            <img src="{{ url_for('static',filename= 'img/about-mission.jpg') }}" alt=""
                                 class="img-fluid">
                            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Our Mission</a></h2>
                        <p>
                            Development of distributed cloud ecosystem model and platform prototype, Support of
                            real-time for high-performance computing, Performance profiling and job scheduling based on
                            multi-objectives
                        </p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="about-col">
                        <div class="img">
                            <img src="{{ url_for('static',filename= 'img/about-plan.jpg') }}" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-list-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Our Plan</a></h2>
                        <p>
                            DC platform prototype development with service mobility support technology, Cloud service
                            development in distributed cloud and service packaging, Open SW release from github
                        </p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="about-col">
                        <div class="img">
                            <img src="{{ url_for('static',filename= 'img/about-vision.jpg') }}" alt=""
                                 class="img-fluid">
                            <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Our Vision</a></h2>
                        <p>
                            Leading of standardization for distributed cloud computing, Securing of the core technology
                            for mobility in distributed cloud computing
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    {#    <section id="services">#}
    {#      <div class="container">#}
    {##}
    {#        <header class="section-header wow fadeInUp">#}
    {#          <h3>Services</h3>#}
    {#          <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus, ad pro quaestio laboramus. Ei ubique vivendum pro. At ius nisl accusam lorenta zanos paradigno tridexa panatarel.</p>#}
    {#        </header>#}
    {##}
    {#        <div class="row">#}
    {##}
    {#          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">#}
    {#            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>#}
    {#            <h4 class="title"><a href="">Lorem Ipsum</a></h4>#}
    {#            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>#}
    {#          </div>#}
    {#          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">#}
    {#            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>#}
    {#            <h4 class="title"><a href="">Dolor Sitema</a></h4>#}
    {#            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>#}
    {#          </div>#}
    {#          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">#}
    {#            <div class="icon"><i class="ion-ios-paper-outline"></i></div>#}
    {#            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>#}
    {#            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>#}
    {#          </div>#}
    {#          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">#}
    {#            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>#}
    {#            <h4 class="title"><a href="">Magni Dolores</a></h4>#}
    {#            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>#}
    {#          </div>#}
    {#          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">#}
    {#            <div class="icon"><i class="ion-ios-barcode-outline"></i></div>#}
    {#            <h4 class="title"><a href="">Nemo Enim</a></h4>#}
    {#            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>#}
    {#          </div>#}
    {#          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">#}
    {#            <div class="icon"><i class="ion-ios-people-outline"></i></div>#}
    {#            <h4 class="title"><a href="">Eiusmod Tempor</a></h4>#}
    {#            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>#}
    {#          </div>#}
    {##}
    {#        </div>#}
    {##}
    {#      </div>#}
    {#    </section><!-- #services -->#}

    <!--==========================
        Team Section
    ============================-->
    <section id="team">
        <div class="container">
            <div class="section-header wow fadeInUp">
                <h3>Team</h3>
                <p>We are cloud and network researchers :)</p>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6 wow fadeInUp">
                    <div class="member">
                        <img src="{{ url_for('static',filename= 'img/team-00.jpg') }}" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Dr. Eui-Nam Huh</h4>
                                <span>Professor</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp">
                    <div class="member">
                        <img src="{{ url_for('static',filename= 'img/team-01.jpg') }}" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>A-Young Son</h4>
                                <span>Team leader</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="member">
                        <img src="{{ url_for('static',filename= 'img/team-02.jpg') }}" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Dr. VanDung</h4>
                                <span>Member</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="member">
                        <img src="{{ url_for('static',filename= 'img/team-03.jpg') }}" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Yunkon Kim</h4>
                                <span>Member</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="member">
                        <img src="{{ url_for('static',filename= 'img/team-04.jpg') }}" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Pham Xuan Qui</h4>
                                <span>Member</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="member">
                        <img src="{{ url_for('static',filename= 'img/team-05.jpg') }}" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Ngo Thien Thu</h4>
                                <span>Member</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="member">
                        <img src="{{ url_for('static',filename= 'img/team-06.jpg') }}" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Tran Trong Khanh</h4>
                                <span>Member</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="member">
                        <img src="{{ url_for('static',filename= 'img/team-11.jpg') }}" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Je Hyeon Yu</h4>
                                <span>Member</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="member">
                        <img src="{{ url_for('static',filename= 'img/team-09.jpg') }}" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Ji Hoo Chun</h4>
                                <span>Member</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="member">
                        <img src="{{ url_for('static',filename= 'img/team-10.jpg') }}" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Yun Hwan Kim</h4>
                                <span>Member</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="member">
                        <img src="{{ url_for('static',filename= 'img/team-07.jpg') }}" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Bon Kwan Gu</h4>
                                <span>Member</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="member">
                        <img src="{{ url_for('static',filename= 'img/team-08.jpg') }}" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>San Woo Yun</h4>
                                <span>Member</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #team -->

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeIn">
        <div class="container text-center">
            <h3>Research, Development, and Documentation</h3>
            <p>This is an open source project! We share our research materials, source code, container images, and documentation(wiki).</p>
            <a class="cta-btn" href="https://drive.google.com/drive/folders/1Gkrlw1FPa3e3f5kY5z5AFpk__OeiHydx">Share point</a>
            <a class="cta-btn" href="https://github.com/icns-distributed-cloud">GitHub</a>
            <a class="cta-btn" href="https://hub.docker.com/search/?q=icns&type=image">Docker Hub</a>
        </div>
    </section><!-- #call-to-action -->

    <!--==========================
      Progress Section
    ============================-->
    <section id="skills">
        <div class="container">

            <header class="section-header">
                <h3>Our progress</h3>
                <p></p>
            </header>

            <div class="skills-content">

                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                         aria-valuemax="100">
                        <span class="skill">Overview page setup<i class="val">90%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="30" aria-valuemin="0"
                         aria-valuemax="100">
                        <span class="skill">Container study<i class="val">30%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                         aria-valuemax="100">
                        <span class="skill">GitHub setup<i class="val">40%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                         aria-valuemax="100">
                        <span class="skill">Migration<i class="val">40%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                         aria-valuemax="100">
                        <span class="skill">Energy-efficiency<i class="val">80%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="100">
                        <span class="skill">Service level agreement<i class="val">60%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                         aria-valuemax="100">
                        <span class="skill">Data caching<i class="val">50%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                         aria-valuemax="100">
                        <span class="skill">Self-driving car<i class="val">40%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="20" aria-valuemin="0"
                         aria-valuemax="100">
                        <span class="skill">Robotic arm<i class="val">10%</i></span>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #Progress-section -->

    {#    <!--==========================#}
    {#      Facts Section#}
    {#    ============================-->#}
    {#    <section id="facts"  class="wow fadeIn">#}
    {#      <div class="container">#}
    {##}
    {#        <header class="section-header">#}
    {#          <h3>Facts</h3>#}
    {#          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>#}
    {#        </header>#}
    {##}
    {#        <div class="row counters">#}
    {##}
    {#  				<div class="col-lg-3 col-6 text-center">#}
    {#            <span data-toggle="counter-up">274</span>#}
    {#            <p>Clients</p>#}
    {#  				</div>#}
    {##}
    {#          <div class="col-lg-3 col-6 text-center">#}
    {#            <span data-toggle="counter-up">421</span>#}
    {#            <p>Projects</p>#}
    {#  				</div>#}
    {##}
    {#          <div class="col-lg-3 col-6 text-center">#}
    {#            <span data-toggle="counter-up">1,364</span>#}
    {#            <p>Hours Of Support</p>#}
    {#  				</div>#}
    {##}
    {#          <div class="col-lg-3 col-6 text-center">#}
    {#            <span data-toggle="counter-up">18</span>#}
    {#            <p>Hard Workers</p>#}
    {#  				</div>#}
    {##}
    {#  			</div>#}
    {##}
    {#        <div class="facts-img">#}
    {#          <img src="{{url_for('static',filename= 'img/facts-img.png')}}" alt="" class="img-fluid">#}
    {#        </div>#}
    {##}
    {#      </div>#}
    {#    </section><!-- #facts -->#}

    {#    <!--==========================#}
    {#      Portfolio Section#}
    {#    ============================-->#}
    {#    <section id="portfolio"  class="section-bg" >#}
    {#      <div class="container">#}
    {##}
    {#        <header class="section-header">#}
    {#          <h3 class="section-title">Our Portfolio</h3>#}
    {#        </header>#}
    {##}
    {#        <div class="row">#}
    {#          <div class="col-lg-12">#}
    {#            <ul id="portfolio-flters">#}
    {#              <li data-filter="*" class="filter-active">All</li>#}
    {#              <li data-filter=".filter-app">App</li>#}
    {#              <li data-filter=".filter-card">Card</li>#}
    {#              <li data-filter=".filter-web">Web</li>#}
    {#            </ul>#}
    {#          </div>#}
    {#        </div>#}
    {##}
    {#        <div class="row portfolio-container">#}
    {##}
    {#          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">#}
    {#            <div class="portfolio-wrap">#}
    {#              <figure>#}
    {#                <img src="{{url_for('static',filename= 'img/portfolio/app1.jpg')}}" class="img-fluid" alt="">#}
    {#                <a href="{{url_for('static',filename= 'img/portfolio/app1.jpg')}}" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>#}
    {#                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>#}
    {#              </figure>#}
    {##}
    {#              <div class="portfolio-info">#}
    {#                <h4><a href="#">App 1</a></h4>#}
    {#                <p>App</p>#}
    {#              </div>#}
    {#            </div>#}
    {#          </div>#}
    {##}
    {#          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">#}
    {#            <div class="portfolio-wrap">#}
    {#              <figure>#}
    {#                <img src="{{url_for('static',filename= 'img/portfolio/web3.jpg')}}" class="img-fluid" alt="">#}
    {#                <a href="{{url_for('static',filename= 'img/portfolio/web3.jpg')}}" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>#}
    {#                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>#}
    {#              </figure>#}
    {##}
    {#              <div class="portfolio-info">#}
    {#                <h4><a href="#">Web 3</a></h4>#}
    {#                <p>Web</p>#}
    {#              </div>#}
    {#            </div>#}
    {#          </div>#}
    {##}
    {#          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">#}
    {#            <div class="portfolio-wrap">#}
    {#              <figure>#}
    {#                <img src="{{url_for('static',filename= 'img/portfolio/app2.jpg')}}" class="img-fluid" alt="">#}
    {#                <a href="{{url_for('static',filename= 'img/portfolio/app2.jpg')}}" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>#}
    {#                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>#}
    {#              </figure>#}
    {##}
    {#              <div class="portfolio-info">#}
    {#                <h4><a href="#">App 2</a></h4>#}
    {#                <p>App</p>#}
    {#              </div>#}
    {#            </div>#}
    {#          </div>#}
    {##}
    {#          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">#}
    {#            <div class="portfolio-wrap">#}
    {#              <figure>#}
    {#                <img src="{{url_for('static',filename= 'img/portfolio/card2.jpg')}}" class="img-fluid" alt="">#}
    {#                <a href="{{url_for('static',filename= 'img/portfolio/card2.jpg')}}" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>#}
    {#                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>#}
    {#              </figure>#}
    {##}
    {#              <div class="portfolio-info">#}
    {#                <h4><a href="#">Card 2</a></h4>#}
    {#                <p>Card</p>#}
    {#              </div>#}
    {#            </div>#}
    {#          </div>#}
    {##}
    {#          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">#}
    {#            <div class="portfolio-wrap">#}
    {#              <figure>#}
    {#                <img src="{{url_for('static',filename= 'img/portfolio/web2.jpg')}}" class="img-fluid" alt="">#}
    {#                <a href="{{url_for('static',filename= 'img/portfolio/web2.jpg')}}" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>#}
    {#                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>#}
    {#              </figure>#}
    {##}
    {#              <div class="portfolio-info">#}
    {#                <h4><a href="#">Web 2</a></h4>#}
    {#                <p>Web</p>#}
    {#              </div>#}
    {#            </div>#}
    {#          </div>#}
    {##}
    {#          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">#}
    {#            <div class="portfolio-wrap">#}
    {#              <figure>#}
    {#                <img src="{{url_for('static',filename= 'img/portfolio/app3.jpg')}}" class="img-fluid" alt="">#}
    {#                <a href="{{url_for('static',filename= 'img/portfolio/app3.jpg')}}" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>#}
    {#                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>#}
    {#              </figure>#}
    {##}
    {#              <div class="portfolio-info">#}
    {#                <h4><a href="#">App 3</a></h4>#}
    {#                <p>App</p>#}
    {#              </div>#}
    {#            </div>#}
    {#          </div>#}
    {##}
    {#          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">#}
    {#            <div class="portfolio-wrap">#}
    {#              <figure>#}
    {#                <img src="{{url_for('static',filename= 'img/portfolio/card1.jpg')}}" class="img-fluid" alt="">#}
    {#                <a href="{{url_for('static',filename= 'img/portfolio/card1.jpg')}}" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>#}
    {#                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>#}
    {#              </figure>#}
    {##}
    {#              <div class="portfolio-info">#}
    {#                <h4><a href="#">Card 1</a></h4>#}
    {#                <p>Card</p>#}
    {#              </div>#}
    {#            </div>#}
    {#          </div>#}
    {##}
    {#          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">#}
    {#            <div class="portfolio-wrap">#}
    {#              <figure>#}
    {#                <img src="{{url_for('static',filename= 'img/portfolio/card3.jpg')}}" class="img-fluid" alt="">#}
    {#                <a href="{{url_for('static',filename= 'img/portfolio/card3.jpg')}}" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>#}
    {#                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>#}
    {#              </figure>#}
    {##}
    {#              <div class="portfolio-info">#}
    {#                <h4><a href="#">Card 3</a></h4>#}
    {#                <p>Card</p>#}
    {#              </div>#}
    {#            </div>#}
    {#          </div>#}
    {##}
    {#          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">#}
    {#            <div class="portfolio-wrap">#}
    {#              <figure>#}
    {#                <img src="{{url_for('static',filename= 'img/portfolio/web1.jpg')}}" class="img-fluid" alt="">#}
    {#                <a href="{{url_for('static',filename= 'img/portfolio/web1.jpg')}}" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>#}
    {#                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>#}
    {#              </figure>#}
    {##}
    {#              <div class="portfolio-info">#}
    {#                <h4><a href="#">Web 1</a></h4>#}
    {#                <p>Web</p>#}
    {#              </div>#}
    {#            </div>#}
    {#          </div>#}
    {##}
    {#        </div>#}
    {##}
    {#      </div>#}
    {#    </section><!-- #portfolio -->#}

    {#    <!--==========================#}
    {#      Clients Section#}
    {#    ============================-->#}
    {#    <section id="clients" class="wow fadeInUp">#}
    {#      <div class="container">#}
    {##}
    {#        <header class="section-header">#}
    {#          <h3>Our Clients</h3>#}
    {#        </header>#}
    {##}
    {#        <div class="owl-carousel clients-carousel">#}
    {#          <img src="{{url_for('static',filename= 'img/clients/client-1.png')}}" alt="">#}
    {#          <img src="{{url_for('static',filename= 'img/clients/client-2.png')}}" alt="">#}
    {#          <img src="{{url_for('static',filename= 'img/clients/client-3.png')}}" alt="">#}
    {#          <img src="{{url_for('static',filename= 'img/clients/client-4.png')}}" alt="">#}
    {#          <img src="{{url_for('static',filename= 'img/clients/client-5.png')}}" alt="">#}
    {#          <img src="{{url_for('static',filename= 'img/clients/client-6.png')}}" alt="">#}
    {#          <img src="{{url_for('static',filename= 'img/clients/client-7.png')}}" alt="">#}
    {#          <img src="{{url_for('static',filename= 'img/clients/client-8.png')}}" alt="">#}
    {#        </div>#}
    {##}
    {#      </div>#}
    {#    </section><!-- #clients -->#}

    {#    <!--==========================#}
    {#      Clients Section#}
    {#    ============================-->#}
    {#    <section id="testimonials" class="section-bg wow fadeInUp">#}
    {#      <div class="container">#}
    {##}
    {#        <header class="section-header">#}
    {#          <h3>Testimonials</h3>#}
    {#        </header>#}
    {##}
    {#        <div class="owl-carousel testimonials-carousel">#}
    {##}
    {#          <div class="testimonial-item">#}
    {#            <img src="{{url_for('static',filename= 'img/testimonial-1.jpg')}}" class="testimonial-img" alt="">#}
    {#            <h3>Saul Goodman</h3>#}
    {#            <h4>Ceo &amp; Founder</h4>#}
    {#            <p>#}
    {#              <img src="{{url_for('static',filename= 'img/quote-sign-left.png')}}" class="quote-sign-left" alt="">#}
    {#              Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.#}
    {#              <img src="{{url_for('static',filename= 'img/quote-sign-right.png')}}" class="quote-sign-right" alt="">#}
    {#            </p>#}
    {#          </div>#}
    {##}
    {#          <div class="testimonial-item">#}
    {#            <img src="{{url_for('static',filename= 'img/testimonial-2.jpg')}}" class="testimonial-img" alt="">#}
    {#            <h3>Sara Wilsson</h3>#}
    {#            <h4>Designer</h4>#}
    {#            <p>#}
    {#              <img src="{{url_for('static',filename= 'img/quote-sign-left.png')}}" class="quote-sign-left" alt="">#}
    {#              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.#}
    {#              <img src="{{url_for('static',filename= 'img/quote-sign-right.png')}}" class="quote-sign-right" alt="">#}
    {#            </p>#}
    {#          </div>#}
    {##}
    {#          <div class="testimonial-item">#}
    {#            <img src="{{url_for('static',filename= 'img/testimonial-3.jpg')}}" class="testimonial-img" alt="">#}
    {#            <h3>Jena Karlis</h3>#}
    {#            <h4>Store Owner</h4>#}
    {#            <p>#}
    {#              <img src="{{url_for('static',filename= 'img/quote-sign-left.png')}}" class="quote-sign-left" alt="">#}
    {#              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.#}
    {#              <img src="{{url_for('static',filename= 'img/quote-sign-left.png')}}" class="quote-sign-right" alt="">#}
    {#            </p>#}
    {#          </div>#}
    {##}
    {#          <div class="testimonial-item">#}
    {#            <img src="{{url_for('static',filename= 'img/testimonial-4.jpg')}}" class="testimonial-img" alt="">#}
    {#            <h3>Matt Brandon</h3>#}
    {#            <h4>Freelancer</h4>#}
    {#            <p>#}
    {#              <img src="{{url_for('static',filename= 'img/quote-sign-left.png')}}" class="quote-sign-left" alt="">#}
    {#              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.#}
    {#              <img src="{{url_for('static',filename= 'img/quote-sign-right.png')}}" class="quote-sign-right" alt="">#}
    {#            </p>#}
    {#          </div>#}
    {##}
    {#          <div class="testimonial-item">#}
    {#            <img src="{{url_for('static',filename= 'img/testimonial-5.jpg')}}" class="testimonial-img" alt="">#}
    {#            <h3>John Larson</h3>#}
    {#            <h4>Entrepreneur</h4>#}
    {#            <p>#}
    {#              <img src="{{url_for('static',filename= 'img/quote-sign-left.png')}}" class="quote-sign-left" alt="">#}
    {#              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.#}
    {#              <img src="{{url_for('static',filename= 'img/quote-sign-right.png')}}" class="quote-sign-right" alt="">#}
    {#            </p>#}
    {#          </div>#}
    {##}
    {#        </div>#}
    {##}
    {#      </div>#}
    {#    </section><!-- #testimonials -->#}


    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
        <div class="container">

            <div class="section-header">
                <h3>Contact Us</h3>
                <p></p>
            </div>

            <div class="row contact-info">

                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="ion-ios-location-outline"></i>
                        <h3>Address</h3>
                        <address>Room No.331, College of Electronics and Information, Kyung Hee University, 1732,
                            Deogyeong-daero, Giheung-gu, Yongin-si, Gyunggi-do, 17104, Republic of Korea
                        </address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-phone">
                        <i class="ion-ios-telephone-outline"></i>
                        <h3>Phone Number</h3>
                        <p><a href="tel:+82312012454">+82 31 201 2454</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="ion-ios-email-outline"></i>
                        <h3>Email</h3>
                        <p><a href="mailto:ayths28@khu.ac.kr">ayths28@khu.ac.kr</a></p>
                    </div>
                </div>

            </div>

            <div class="form">
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                <form action="" method="post" role="form" class="contactForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                   data-rule="minlen:4" data-msg="Please enter at least 4 chars"/>
                            <div class="validation"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                   data-rule="email" data-msg="Please enter a valid email"/>
                            <div class="validation"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                               data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject"/>
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required"
                                  data-msg="Please write something for us" placeholder="Message"></textarea>
                        <div class="validation"></div>
                    </div>
                    <div class="text-center">
                        <button type="submit">Send Message</button>
                    </div>
                </form>
            </div>

        </div>
    </section><!-- #contact -->

</main>

<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>ICNS Lab.</h3>
                    {#            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>#}
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#">About us</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#">Services</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        Room No.331<br>
                        College of Electronics and Information<br>
                        Kyung Hee University<br>
                        <strong>Phone:</strong> +82 31 201 2454<br>
                        <strong>Email:</strong> ayths28@khu.ac.kr<br>
                    </p>

                    <div class="social-links">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>To be updated</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>ICNS Lab.</strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<!-- Uncomment below i you want to use a preloader -->
<!-- <div id="preloader"></div> -->

<!-- JavaScript Libraries -->
<script src="{{ url_for('static',filename= 'lib/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename= 'lib/jquery/jquery-migrate.min.js') }}"></script>
<script src="{{ url_for('static',filename= 'lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static',filename= 'lib/easing/easing.min.js') }}"></script>
<script src="{{ url_for('static',filename= 'lib/superfish/hoverIntent.js') }}"></script>
<script src="{{ url_for('static',filename= 'lib/superfish/superfish.min.js') }}"></script>
<script src="{{ url_for('static',filename= 'lib/wow/wow.min.js') }}"></script>
<script src="{{ url_for('static',filename= 'lib/waypoints/waypoints.min.js') }}"></script>
<script src="{{ url_for('static',filename= 'lib/counterup/counterup.min.js') }}"></script>
<script src="{{ url_for('static',filename= 'lib/owlcarousel/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static',filename= 'lib/isotope/isotope.pkgd.min.js') }}"></script>
<script src="{{ url_for('static',filename= 'lib/lightbox/js/lightbox.min.js') }}"></script>
<script src="{{ url_for('static',filename= 'lib/touchSwipe/jquery.touchSwipe.min.js') }}"></script>
<!-- Contact Form JavaScript File -->
<script src="{{ url_for('static',filename= 'contactform/contactform.js') }}"></script>

<!-- Template Main Javascript File -->
<script src="{{ url_for('static',filename= 'js/main.js') }}"></script>

</body>
</html>
